body, html{
  height:100%;
}

body {
  margin: 0px;
  /*background-image: url('https://img.clipartfest.com/31fc9a7c580a6f937caf469e5478d9d7_blue-background-scrub-masters-light-blue-background-clipart_4256-2832.jpeg');*/
  font-size: 18px;
  background-color: lightpink;  
}

body, a:link, a:visited, a:active{
  color: lightblue;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}


.title, .lineUp {
  padding:5px 12px;
  float:right;
}


.title, .changeBGColor{
  padding:5px 12px;
  float:right;
}

.title, .changeBGimage {
  padding: 5px 12px; 
  float: right;
}

.topbar{
  height:32px;
  background-color: #555;
}

.title{
  background-color: #777;
}


.superHeroDancer{
  position:absolute;
}

.bouncyDancer {
  position:absolute;
}

.blinkyDancer {
  position:absolute;
}



img {
  width: 100px;
}